# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# .vsフォルダはGit管理不要
# https://stackoverflow.com/a/77570550
.vs/**

# 出力ファイル
Vulkan*/**
x64/

# 外部ライブラリのディレクトリ構造のみ管理
# https://zenn.dev/purigen/articles/67bb8de047e1bb#%E3%83%87%E3%82%A3%E3%83%AC%E3%82%AF%E3%83%88%E3%83%AA%E6%A7%8B%E9%80%A0%E3%81%AE%E3%81%BF%E7%AE%A1%E7%90%86%E3%81%97%E3%81%9F%E3%81%84
/libraries/**
!/libraries/**/

# 外部ライセンスはいつでも含める
!LICENSE.md